<div class="max-w-xl mx-auto mt-10">
  <div class="page-card">
    <div class="page-card-header--blue">
      <h3 class="page-card-header-title--flex">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="page-card-header-icon">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
        Create New Task
      </h3>
    </div>
    <div class="page-card-body">
      <%= render "form", task: @task %>
    </div>
  </div>
</div>