<div class="max-w-3xl mx-auto mt-10">
  <div class="page-card">
    <div class="page-card-header">
      <h2 class="page-card-header-title"><%= action_name.capitalize %> Project</h2>
    </div>

    <div class="page-card-body">
      <%= render "form", project: @project %>
    </div>
  </div>
</div>